body {
  margin: 0;
  font-family: "Courier New",Courier,monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0.25turn, rgba(169, 106, 246, 0.53), #ebf8e1, #2dd0d2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 button {
   cursor: pointer;
 }
